<footer class="footer-background">
    <div class="footer-container">
    <div class="footer-info">
        <h4>carceral archive</h4>
        <p> The open-access archive of documentation on African carceral histories</p>
    </div>
    <div class="footer-project">
        <h4>explore</h4>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/docs/archive">archive</a></li>
            <li><a href="/docs/submission">contribute</a></li>
        </ul>
    </div>
    <div class="footer-subscribe">
        <label for="email"><h4>subscribe</h4></label>
        <input type="email" id="email" required placeholder="email@email.com">
        <button class="button" type="button">subscribe</button>
    </div>
    <div class="footer-follow">
        <h4>follow</h4>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a><br> 
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a><br> 
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>
    </div>
    </div>
    <hr>
    <div class="footer-copyright">
        <p> &copy <%= copyrightYear %>  Web Design by Anna Mester</p>
    </div>
</footer>
</body>
</html>