<header>
    <div class="sidenav">
        <div class="header-logo">
            <img class="small-logo" src="/images/carceral-archive.png" alt="small logo">
        </div>
        <ul>
            <li><a href="/"><i class="fas fa-house"></i>home</a></li>
            <li><a href="/login"><i class="fas fa-user-check"></i>login</a></li>
            <li><a href="/register"><i class="fas fa-id-card"></i>register</a></li>
            <li><a href="/about"><i class="fas fa-info-circle"></i>about</a></li>
            <li><a href="/docs/archive"><i class="fas fa-search"></i>archive</a></li>
            <li><a href="/submission"><i class="fas fa-circle-plus"></i>contribute</a></li>
            <!-- <li></a><i class="fas fa-earth-africa"></i>language</li> -->
        </ul>    
    </div>
    <nav>
    <div class="header-mobile">
        <div class="header-logo">
            <div>
                <img class="tiny-logo" src="/images/carceral-archive.png" alt="small logo">
            </div>
            <div>
                <a href="javascript:void(0);" class="icon">
                <i class="fas fa-bars"></i></a>
            </div>
        </div>
        <ul class="hamburger-dropdown">
            <li><a href="/"><i class="fas fa-house"></i>home</a></li>
            <li><a href="/login"><i class="fas fa-user-check"></i>login</a></li>
            <li><a href="/register"><i class="fas fa-id-card"></i>register</a></li>
            <li><a href="/about"><i class="fas fa-info-circle"></i>about</a></li>
            <li><a href="/docs/archive"><i class="fas fa-search"></i>archive</a></li>
            <li><a href="/submission"><i class="fas fa-circle-plus"></i>contribute</a></li>
            <!-- <li></a><i class="fas fa-earth-africa"></i> language</li> -->
        </ul>
    </div>
</nav>
</header>