<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 
<main>
    <div class="about">
        <h3>Carceral Archive</h3>
        <!-- <img class="collage" src="./images/AboutCollage.png" alt="collage of archival documents"> -->
        <p>As a researcher, I have spend many years travelling and studying the histories of incarceration, discipline, and political repression in Lusophone and Hispanophone Africa. While combing through libraries and archives, I happen upon forgetten and silenced histories of carceral violence. I saw a need for an open-access archive of documentation on African carceral histories, which can encompass and represent the interconnectedness of carcerality on the African continent. I founded the Carceral Archive as home for archiving, mapping, and sharing disparate fragments of African carceral history. I hope you will share in contributing to the archive and making connections across disciplinary and linguistic boundaries!</p>
    </div>
</main>
<%- include('../partials/footer') -%> 