<%- include('../partials/head') -%> 

<div class="dropdown-flex">
  <a href="/docs/archive"> 
  <div class="index-container fadein">
    <img id="f3" class="index-logo" src="./images/carceral-archive.png" alt="barbed wire logo">
    <img id="f2" class="index-logo" src="images/carceral-archive-sp-blue.png" alt="barbed wire logo">
    <img id="f1" class="index-logo" src="images/carceral-archive-pt-blue.png" alt="barbed wire logo">
  </div>
  </a>
  <div>
     <p><a href="/docs/archive"> Enter as guest,</a> <a href="/login"> login,</a><a href="/register"> or create an account here.</a></p>
  </div>
    
  <!-- <div class="dropdown-container dropdown">
        <button class="dropbtn"><i class="fa-solid fa-language fa-2xl"></i></button>
        <div class="dropdown-content">
          <a href="map.html">English</a>
          <a href="#">Português</a>
          <a href="#">Español</a>
        </div>
  </div> -->
</div>
</body>
</html>