<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 
<main>
    <main class="submission">
        <h3>Register</h3>
        <div class="form">
        <form action="/register" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="username" required/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" required/>
            </div>
            <input class="contribute-button" type="submit" value="Submit">
            <p><a href="/auth/google" class="btn">Register with Google</a></p>
            <p>Already have an account? <a href="/login">Login here!</a></p>
            <p><a href="/docs/archive"> Enter as guest</a></p>
        </form>
</main>
<%- include('../partials/footer') -%> 