<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 
<main>
    <main class="submission">
        <h3>Register</h3>
        <div class="form">
        <form action="/register" method="POST">
            <div class="alignform">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="username" required/>
            </div>
            <div class="alignform">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" required/>
            </div>
            <input class="contribute-button" type="submit" value="Submit">
            <p class="login"><a href="/auth/google" class="loginlink"><span>Register with Google</span></a></p>
            <p class="login">Already have an account? <a href="/login"><span>Login here!</span></a></p>
            <p class="login gap"><a href="/docs/archive"> <span>Enter as guest</span></a></p>
        </form>
</main>
<%- include('../partials/footer') -%> 