<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 

<main class="submission">
<h2>Contribute to the Archive</h2>
<div class="form">
<form action="/docs/<%= foundDocs._id %>?_method=PUT" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Your first and last names"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email address" />
    </div>
    <div>
       <label for="title">Title:</label>
       <input type="text" name="title" id="title" placeholder="Title of contribution">
    </div>
    <div>
       <label for="subject">Subject:</label>
       <input type="text" name="subject" id="subject" placeholder="Subject" />
    </div>
    <div>
        <label for="date">Date:</label>
        <input type="text" name="date" id="date" placeholder="Year" />
     </div>
    <div>
       <label for="location">Location:</label>
       <input type="text" name="location" id="location" placeholder="City, Country" />
    </div>
    <div>
       <label for="numberofpages">Page(s):</label>
       <input type="text" name="numberofpages" id="numberofpages" placeholder="Number of pages" />
    </div>
    <div>
       <label for="source">Source:</label>
       <input type="text" name="source" id="source"  placeholder="Source" />
    </div>
    <div>
        <label for="type">Type:</label>
        <select id="type" required />
            <option value="" selected disabled>Select</option>
            <option value="document">Document</option>
            <option value="photo">Photo</option>
            <option value="correspondence">Correspondence</option>
            <option value="book">Book</option>
            <option value="map">Map</option>
            <option value="other">Other</option>
        </select>
     </div> 
    <div>
       <label class="comments-label" for="comments">Comments:</label>
       <textarea name="comments" id="comments" placeholder="Please explain the context and significance of your submission." rows="1" cols="25" disabled></textarea>
    </div>
    <input class="contribute-button" type="submit" value="Submit">
</form>
</main>
<%- include('../partials/footer') -%> 