<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 
<main>
    <div class="about">
        <h3>Thank you for your submission!</h3>
        <!-- <img class="collage" src="./images/AboutCollage.png" alt="collage of archival documents"> -->
        <p>Your submission will be reviewed and posted accordingly.</p>
    </div>
</main>
<%- include('../partials/footer') -%> 